.footer-content {
    text-align: center;

    #links {
        display: inline-flex;

        a {
            padding-left: $spacing-03;
            padding-right: $spacing-03;
        }
    
        svg {
            height: 32px;
            fill: #212121;
        }
    
        .link-text {
            display: inline-block;
            font-family: Helvetica;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.2em;
            color: #212121;
            text-decoration: none;
        }

        &:hover {
            .link-text:not(:hover) {
                opacity: 0.3;
            }
    
            svg:not(:hover) {
                opacity: 0.3;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .footer-content #links .link-text {
        display: none;
    }
}

@media screen and (min-width: 1100px) {
    .footer-content #links svg {
        display: none
    }
}

@media screen and (max-width: 600px) {
    .footer-content {
        #links {
            a {
                padding-left: $spacing-02;
                padding-right: $spacing-02;
            }

            svg {
                height: 24px;
            }
        }
    }
}