.footer-content {
    text-align: center;
    padding-top: $layout-07;

    svg {
        height: 32px;
        fill: #212121;
    }

    .link-text {
        display: inline-block;
        font-family: Helvetica;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.2em;
        color: #212121;
        text-decoration: none;
    }
}

@media screen and (max-width: 870px) {
    .footer-content {
        padding-top: $layout-06;

        .link-text {
            display: none;
        }
    }
}

@media screen and (min-width: 870px) {
    .footer-content svg {
        display: none
    }
}