#footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    
    .footer-link {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 1.5em;
        font-weight: 700;
        text-transform: lowercase;
        text-decoration: none;
        color: #313131;
    }

    &:hover {
        cursor: pointer;

        .footer-link:not(:hover) {
            opacity: 0.3;
        }

        svg:not(:hover) {
            opacity: 0.3;
        }
    }

    &.large {
        width: 100%;

        #my-stuff-link {
            display: none;
        }

        svg {
            display: none
        }
    }

    &.medium {
        .footer-link {
            margin: 0px 12px;

            span {
                display: none;
            }
        }


        #my-stuff-link {
            display: none;
        }

        svg {
            height: 48px;
        }
    }

    &.small {
        .footer-link {
            margin: 0px 6px;

            span {
                display: none;
            }
        }

        svg {
            height: 32px;
        }
    }

    &.mobile {
        .footer-link:not(#my-stuff-link) {
            display: none;
        } 
        
        svg {
            display: none
        }
    }
}