#header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    width: 100%;

    .header-link {
        width: 50%;
        height: 100%;
        display: inline-flex;
        flex-flow: column nowrap;
    }

    #text-col {
        align-items: flex-start;
        justify-content: center;

        span {
            font-family: Helvetica;
            text-transform: lowercase;
            font-weight: 700;
            font-size: 4rem;
            white-space: nowrap;
            color: #313131;
        }
    }

    #logo-col {
        align-items: flex-end;
        justify-content: center;

        svg {
            height: 5rem;
            fill: #313131;
        }
    }
    
    &.small, &.mobile {
        justify-content: center;

        #logo-col {
            align-items: center;

            svg {
                width: 100%;
                padding: 10px;
            }
        }
    }

    &.mobile {
        #logo-col:hover {
            cursor: pointer;
            filter: url(#shadow);
        }
    }
}