#home {
    height: 100vh;
    width: 100vw;
    padding: 15vh 20vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    #main {
        display: flex;
        flex-flow: row nowrap;

        span {
            text-align: center;
            font-family: 'IBM Plex Mono', monospace;
            font-weight: 400;
            color: #2e99ff;
            line-height: 1.6em;
            z-index: 0;
        }
    }

    &.large {
        #main {
            span {
                font-size: 3.6rem;
            }
        }
    }

    &.medium {
        #main {
            span {
                font-size: 2.75rem;
            }
        }
    }

    &.small {
        padding-left: 8vh;
        padding-right: 8vh;

        #main {
            span {
                font-size: 1.8rem;
            }
        }
    }

    &.mobile {
        max-height: 650px;
        padding-left: 8vh;
        padding-right: 8vh;

        #main {
            width: 100%; 

            span {
                font-size: 1.6rem;
            }
        }
    }

    &.slideInFromBelow {
        #header, #main, #footer {
            animation: slideInFromBelow 1s, fadeIn 2s;
        }
    }

    &.slideOutToLeft {
        #main, #footer {
            animation: slideOutToLeft 0.5s;   
        }
    }

    &.slideInFromLeft {
        #main, #footer {
            animation: slideInFromLeft 0.1s;
        }
    }
}