@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');

@import './header.scss';
@import './main.scss';
@import './about.scss';
@import './links.scss';
@import './footer.scss';
@import './home.scss';

html, body, #root {
  	margin: 0;
  	padding: 0;
    height: 100%;
    display: flex;
    overflow-x: hidden;
}

* {
  	box-sizing: border-box;
}

@keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slideInFromBelow {
    0%   {transform: translate(0px, 60px);}
    60%  {transform: translate(0px, -15px);}
    100% {transform: translate(0px, 0px);}
}

@keyframes slideOutToLeft {
    100% {transform: translate(-500px, 0)}
}

@keyframes slideOutToRight {
    100% {transform: translate(500px, 0)}
}

@keyframes slideInFromLeft {
    0% {transform: translate(-500px, 0)}
    100% {transform: translate(0px, 0px)}
}

@keyframes slideInFromRight {
    0% {transform: translate(500px, 0)}
    100% {transform: translate(0px, 0px)}
}

@keyframes moveInCircle {
    0%, 100%   {transform: translate(calc(1 * -1px), calc(1 * 1px));}
    13%  {transform: translate(calc(1 * -1.5px), calc(1 * 0px));}
    25%  {transform: translate(calc(1 * -1px), calc(1 * -1px));}
    38%  {transform: translate(calc(1 * 0px), calc(1 * -1.5px));}
    50%  {transform: translate(calc(1 * 1px), calc(1 * -1px));}
    63%  {transform: translate(calc(1 * 1.5px), calc(1 * 0px));}
    75%  {transform: translate(calc(1 * 1px), calc(1 * 1px));}
    88%  {transform: translate(calc(1 * 0px), calc(1 * 1.5px));}
}

@keyframes redToBlue {
    from {background-color: #ee352e;}
    to {background-color: #00933C;}
}

@keyframes mtaBackground {
    3% { background-color: #0039a6; }
    10% {background-color: #ff6319;}
    13% {background-color: #ff6319;}
    20% {background-color: #6cbe45;}
    23% {background-color: #6cbe45;}
    30% {background-color: #a7a9ac;}
    33% {background-color: #a7a9ac;}
    40% {background-color: #fccc0a;}
    43% {background-color: #fccc0a;}
    50% {background-color: #ee352e;}
    53% {background-color: #ee352e;}
    60% {background-color: #00933c;}
    63% {background-color: #00933c;}
    70% {background-color: #808183;}
    73% {background-color: #808183;}
    80% {background-color: #996633;}
    83% {background-color: #996633;}
    90% {background-color: #b933ad;}
    93% {background-color: #b933ad;}
    100% { background-color: #0039a6; }
}

@keyframes slideOutToLeftNew {
    58%  { transform: translate(0, 0) }
    78%  { transform: translate(-500px, 0) }
    79%  { transform: translate(0, -100px) }
    80%  { transform: translate(500px, 0) }
    100% { transform: translate(0, 0) }
}