@import './home.scss';

html, body, #root {
  	margin: 0;
  	padding: 0;
    height: 100%;
    display: flex;
    overflow-x: hidden;
    animation: fadeIn 0.75s;
}

* {
  	box-sizing: border-box;
}

@keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes nounBubbleBackground {
    3% { background-color: #0039a6; }
    10% {background-color: #ff6319;}
    13% {background-color: #ff6319;}
    20% {background-color: #6cbe45;}
    23% {background-color: #6cbe45;}
    30% {background-color: #a7a9ac;}
    33% {background-color: #a7a9ac;}
    40% {background-color: #fccc0a;}
    43% {background-color: #fccc0a;}
    50% {background-color: #ee352e;}
    53% {background-color: #ee352e;}
    60% {background-color: #00933c;}
    63% {background-color: #00933c;}
    70% {background-color: #808183;}
    73% {background-color: #808183;}
    80% {background-color: #996633;}
    83% {background-color: #996633;}
    90% {background-color: #b933ad;}
    93% {background-color: #b933ad;}
    100% { background-color: #0039a6; }
}

@keyframes nounBubbleLoop {
    58%  { transform: translate(0, 0) }
    78%  { transform: translate(-500px, 0) }
    79%  { transform: translate(0, -100px) }
    80%  { transform: translate(500px, 0) }
    100% { transform: translate(0, 0) }
}