@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');

@import './header.scss';
@import './main.scss';
@import './about.scss';
@import './links.scss';
@import './footer.scss';
@import './home.scss';

html, body {
  	margin: 0;
  	padding: 0;
}

* {
  	box-sizing: border-box;
}

@keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slideInFromBelow {
    0%   {transform: translate(0px, 60px);}
    60%  {transform: translate(0px, -15px);}
    100% {transform: translate(0px, 0px);}
}

@keyframes slideOutToLeft {
    100% {transform: translate(-500px, 0)}
}

@keyframes slideOutToRight {
    100% {transform: translate(500px, 0)}
}

@keyframes slideInFromLeft {
    0% {transform: translate(-500px, 0)}
    100% {transform: translate(0px, 0px)}
}

@keyframes slideInFromRight {
    0% {transform: translate(500px, 0)}
    100% {transform: translate(0px, 0px)}
}

@keyframes moveInCircle {
    0%, 100%   {transform: translate(calc(1 * -1px), calc(1 * 1px));}
    13%  {transform: translate(calc(1 * -1.5px), calc(1 * 0px));}
    25%  {transform: translate(calc(1 * -1px), calc(1 * -1px));}
    38%  {transform: translate(calc(1 * 0px), calc(1 * -1.5px));}
    50%  {transform: translate(calc(1 * 1px), calc(1 * -1px));}
    63%  {transform: translate(calc(1 * 1.5px), calc(1 * 0px));}
    75%  {transform: translate(calc(1 * 1px), calc(1 * 1px));}
    88%  {transform: translate(calc(1 * 0px), calc(1 * 1.5px));}
}