@import '@carbon/type/scss/font-family';

@font-face {
    font-family: 'IBM Plex Serif SemiBold';
    src: url('../../assets/fonts/IBMPlexSerif-SemiBold.ttf') format('truetype')
}

#main-content {
    padding-top: $layout-07;
    padding-bottom: $layout-07;

    #main-text {
        font-family: 'IBM Plex Serif SemiBold';
        color: #2e85ff;
        line-height: 1.6em;
        position: relative;
        display: inline-block;
        z-index: 1;

        &:before, &:after {
            content:attr(data-content);
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            --g: 2;
        }

        &:before {
            color: #00ffaa;
            z-index: -1;
            animation: glitch 2s ease infinite;
        }
    
        &:after {
            color: #ff6622;
            z-index: -2;
            animation: glitch 2s ease infinite reverse;
        }
    }

    &.medium {
        #main-text {
            padding-left: $spacing-07;
            padding-right: $spacing-07;

            &:before, &:after {
                padding-left: $spacing-07;
                padding-right: $spacing-07;
            }
        }
    }

    &.small {
        padding-top: $layout-06;
        padding-bottom: $layout-06;

        #main-text {
            padding-left: $spacing-04;
            padding-right: $spacing-04;

            &:before, &:after {
                padding-left: $spacing-04;
                padding-right: $spacing-04;
                --g: 1;
            }
        }
    }
}

@keyframes glitch {
    0%   {transform: translate(calc(var(--g) * -1px), calc(var(--g) * 1px));}
    25%  {transform: translate(calc(var(--g) * -1px), calc(var(--g) * -1px));}
    50%  {transform: translate(calc(var(--g) * 1px), calc(var(--g) * 1px));}
    75%  {transform: translate(calc(var(--g) * 1px), calc(var(--g) * -1px));}
    100% {transform: translate(calc(var(--g) * -1px), calc(var(--g) * 1px));}
}