@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@600&display=swap');

#main-text {
    font-family: 'IBM Plex Serif', serif;
    color: #2e85ff;
    line-height: 1.6em;
    position: relative;
    display: inline-block;
    z-index: 1;

    &:before, &:after {
        content:attr(data-content);
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
    }

    &:before {
        color: #00ffaa;
        z-index: -1;
        animation: translateCircle 3s linear 0.5s infinite;
    }

    &:after {
        color: #ff6622;
        z-index: -2;
        animation: translateCircle 3s linear infinite;
    }
}