#beta {
    animation: fadeIn 2s, slideInFromBelow 1s;

    .col {
        height:100vh;
    }
    
    #left {
        float: left;
        width: 50%;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }    
    }
    
    #right {    
        background: #fffdf6;
        float:right;
        width:50%;

        #main-content {
            padding-top: 300px;
            font-size: 2.5vw;
            padding-left: $layout-02;
            min-width: 600px;
    
            &.medium {
                #main-text {
                    font-size: 2.2rem
                }
            }
    
            &.small {
                #main-text {
                    font-size: 1.5rem;
                }
            }
        }

        #footer {
            padding-left: $layout-06;

            &.small {
                padding-left: $spacing-11;
            }
        }
    }   
}