#beta {
    height: 100vh;
    background: #fffdf6 !important;
    animation: fadeIn 2s, slideInFromBelow 1s;


    .col {
        height:100vh;
        text-align: center;
    }

    .bx--text-input-wrapper {
        padding-left: 40vw;
        padding-right: 40vw;
        padding-top: 5vh;
    }

    #main-content {
        padding-top: 30vh;
        font-size: 5.5rem;
        padding-left: $layout-02;
        min-width: 600px;
        --translateCircleSize: 2;
    }
}