#header {
    display: flex;
    justify-content: center;
    width: 85%;
    height: 6rem;

    .header-link {
        width: 50%;
        height: 100%;
        display: inline-flex;
        flex-flow: column nowrap;

        &:hover {
            cursor: pointer;
        }
    }

    #text-col {
        align-items: flex-start;
        justify-content: center;

        span {
            font-family: Helvetica;
            text-transform: lowercase;
            font-weight: 700;
            font-size: 4rem;
            white-space: nowrap;
            color: #313131;
        }
    }

    #logo-col {
        align-items: flex-end;
        justify-content: center;

        svg {
            height: 100%;
            fill: #313131;
            text-shadow: 5px 5px 2px black;
        }
    }

    &.small {
        height: 4.5rem;

        #text-col {
            display: none;
        }

        #logo-col {
            align-items: center;
        }
    }

    &.mobile {
        height: 4.5rem;

        #text-col {
            display: none;
        }

        #logo-col {
            align-items: center;
        }
    }
}