#header {
    text-align: left;
    padding-top: 12vh;
    padding-left: 12vh;
    padding-right: 12vh;

    #header-text {
        font-family: Helvetica;
        text-transform: lowercase;
        font-weight: 700;
        font-size: 4rem;
        white-space: nowrap;
        color: #212121;
        width:fit-content;
        
    }

    #logo-col {
        text-align: right;

        svg {
            fill: #212121;
            height: 6rem;
        }
    }

    .header-link:hover {
        cursor: pointer;
    }

    &.medium {
        padding-left: $spacing-06;
        padding-right: $spacing-06;
    }

    &.small {
        #text-col {
            display: none;
        }

        #logo-col {
            text-align: center;

            #n-logo {
                height: 4.5rem;
            }
        }
    }

    &.xsmall {
        #text-col {
            display: none;
        }

        #logo-col {
            text-align: center;

            #n-logo {
                height: 4.5rem;
            }
        }
    }
}