#stuff {
    min-height: 100vh;
    height: 100%;
    animation: fadeIn 1s;

    #header {
        --moveInCircleSize: 1;
        padding-top: 12vh;

        a {
            text-decoration: none;
        }

        #logo-col {
            display: flex;
            align-items: center;
            justify-content: center;

            #nbicon {
                height: 4.5rem;

                &:first-of-type {
                    fill: #ff6622;
                    z-index: -1;
                    animation: moveInCircle 3s linear 0.5s infinite;
                    position: absolute;
                }

                &:nth-of-type(2) {
                    fill: #2e85ff;
                    z-index: 1;
                    position: absolute;

                }

                &:nth-of-type(3) {
                    fill: #00ffaa;
                    z-index: -2;
                    animation: moveInCircle 3s linear infinite;
                }
            }
        }
    }

    #links {
        padding-top: 9vh;

        .bx--row {
            padding-top: $spacing-02;
        }

        .link-col {
            text-align: center;

            .link-text {
                display: inline-block;
                font-family: Helvetica;
                text-transform: lowercase;
                font-weight: 700;
                font-size: 1.5em;
                color: #212121;
                text-decoration: none;
            }
        }
            
        #links-col {
            &:hover {
                .bx--row:not(:hover) {
                    opacity: 0.3;
                }
            }
        }
        
        
    }
}