#stuff {
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;

    #header {
        --moveInCircleSize: 2;
        text-align: left;

        a {
            text-decoration: none;
        }

        .header-text {
            font-family: Helvetica;
            text-transform: lowercase;
            font-weight: 700;
            font-size: 3rem;
            white-space: nowrap;
            color: #2e85ff;
            padding-top: $layout-04;
            padding-left: $spacing-06;
            position: relative;
            display: inline-block;
            z-index: 1;

            &:before, &:after {
                content:attr(data-content);
                position: absolute;
                top: $layout-04;
                left: $spacing-06;
            }
        
            &:before {
                color: #00ffaa;
                z-index: -1;
                animation: moveInCircle 3s linear 0.5s infinite;
            }
        
            &:after {
                color: #ff6622;
                z-index: -2;
                animation: moveInCircle 3s linear infinite;
            }
        }
    }

    #links {
        padding-top: $layout-06;
        text-align: center;

        .bx--row {
            padding-top: $spacing-02;
        }

        .link-text {
            display: inline-block;
            font-family: Helvetica;
            text-transform: lowercase;
            font-weight: 700;
            font-size: 1.5em;
            color: #212121;
            text-decoration: none;
        }
    
            
        #links-col:hover {
            .bx--row:not(:hover) {
                opacity: 0.3;
            }
        }
    }
}