#stuff {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 12vh 12vh 12vh;
    overflow: hidden;

    #links {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;

        .container {
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            &:hover {
                span:not(:hover) {
                    opacity: 0.3;
                }
            }

            span {
                font-family: 'IBM Plex Mono', monospace;
                font-size: 1.6em;
                font-weight: 600;
                color: #2e85ff;
                text-transform: lowercase;
                z-index: 0;

                &:hover {
                    cursor: pointer;
                }
            }

            &:not(:nth-of-type(1)) {
                margin-left: -100%;
            }

            &:nth-of-type(2) span {
                color: #00ffaa;
                opacity: 0.8;
                z-index: -1;
                animation: moveInCircle 1.5s linear infinite;
                
            }

            &:nth-of-type(3) span {
                color: #ff6622;
                opacity: 0.8;
                z-index: -2;
                animation: moveInCircle 1.5s linear infinite 0.75s;
            }
        }
    }

    &.slideInFromRight {
        #links {
            animation: slideInFromRight 0.1s;
        }
    }

    &.slideOutToRight {
        #links {
            animation: slideOutToRight 0.5s;
        }
    }
}