#footer {
    #links {
        display: inline-flex;

        a {
            padding-left: $spacing-03;
            padding-right: $spacing-03;
        }
    
        svg {
            height: 32px;
            fill: #212121;
        }
    
        .link-text {
            display: inline-block;
            font-family: Helvetica;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.2em;
            color: #212121;
            text-decoration: none;
        }

        &:hover {
            .link-text:not(:hover) {
                opacity: 0.3;
            }
    
            svg:not(:hover) {
                opacity: 0.3;
            }
        }
    }

    &.small {
        #links {
            a {
                padding-left: $spacing-02;
                padding-right: $spacing-02;
            }

            .link-text {
                display: none;
            }

            svg {
                height: 24px;
            }
        }
    }

    &.medium {
        #links .link-text {
            display: none;
        }
    }

    &:not(.small):not(.medium) {
        #links svg {
            display: none
        }
    }
}