#home {
    min-height: 100vh;
    height: 100%;

    #main {
        text-align: center;
        font-size: 3.6rem;
        font-weight: 600;
        padding-top: 17.5vh;
        --moveInCircleSize: 1;

        #main-text {
            font-family: 'IBM Plex Mono', monospace;
            color: #2e85ff;
            line-height: 1.6em;
            position: relative;
            display: inline-block;
            z-index: 1;
        
            &:before, &:after {
                content:attr(data-content);
                position: absolute;
                top: 0; left: 0; right: 0; bottom: 0;
            }
        
            &:before {
                color: #00ffaa;
                z-index: -1;
                animation: moveInCircle 4s linear infinite;
            }
        
            &:after {
                color: #ff6622;
                z-index: -2;
                animation: moveInCircle 3s linear infinite;
            }
        }
    }

    &.medium {
        min-height: 0px;

        #main {
            padding-top: 14vh;
            font-size: 2.75rem;

            #main-text,#main-text:before,#main-text:after {
                padding-left: $spacing-07;
                padding-right: $spacing-07;
            }
        }
    }

    &.small {
        min-height: 0px;

        #main {
            font-size: 1.8rem;
            padding-top: 9vh;

            #main-text, #main-text:before, #main-text:after {
                padding-left: $spacing-04;
                padding-right: $spacing-04;
            }
        }
    }

    &.xsmall {
        min-height: 0px;

        #main {
            font-size: 1.9rem;
            padding-top: 9vh;

            #main-text, #main-text:before, #main-text:after {
                padding-left: $spacing-04;
                padding-right: $spacing-04;
            }
        }
    }


    &.slideInFromBelow {
        #header, #main, #footer {
            animation: slideInFromBelow 1s, fadeIn 2s;
        }
    }

    &.slideOutToLeft {
        #main, #footer {
            animation: slideOutToLeft 0.5s;   
        }
    }

    &.slideInFromLeft {
        #main, #footer {
            animation: slideInFromLeft 0.1s;
        }
    }
}